@font-face {
  font-family: 'montserratregular';
  src: url('../fonts/montserrat-regular-webfont.eot');
  src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
  url('../fonts/montserrat-regular-webfont.woff') format('woff'),
  url('../fonts/montserrat-regular-webfont.ttf') format('truetype'),
  url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
*{
  padding: 0;
    margin: 0;
}
header {
  padding: 18px 0;
}
.container {
  max-width: 940px;
  margin: auto;
}
.dflex {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
#navbar {
  list-style: none; display: flex;
}
header nav li {
  margin-left: 34px;
}
header nav li a {
  font-family: 'montserratregular';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: #404040;text-decoration: none;
display: inline-block;
}
footer {
  background-color:#000000;
  align-items: center;
  text-align: center;
  padding: 69px 0 75px
}
.wrapper {
  max-width: 564px;
  margin: 0 auto;
}

table {
  display:none; color: aliceblue;
}

footer form input {
  width: 564px; margin: auto;
  height:57px; width: 100%;
  background: rgba(255, 255, 255, 0.18);
  border: none;
  box-sizing: border-box;
  padding-left: 30px;
  font-family: 'Vollkorn', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #FFFFFF;
}
footer div form input, textarea. :focus {
  outline: none;
}
#decor {
  text-decoration:none; color: #8BCAC3;
}
textarea {
  width: 100%;
  height: 127px;
  background: rgba(255, 255, 255, 0.2);
  resize: none; box-sizing: border-box;
  padding-left: 30px;
  font-family: 'Vollkorn', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #FFFFFF;
}

.btn {
  padding-top: 21.95px;
}

button {
  padding-top: 21.95px;
  padding: 15.05px 60px;
  background-color: #000000;
  border: solid 1px;
  border-color: #7EC4BD;
  font-family: 'Vollkorn', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #8BCAC3;"
}

.icon {
  margin-top: 37.05px;
}
.desc {
  margin-top: 14px;
}
#discription {
  font-family: 'Vollkorn', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.4);
}
::-webkit-input-placeholder {
  font-family: 'Vollkorn', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;



  color: #FFFFFF; }
::-moz-placeholder          {
  font-family: 'Vollkorn', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;


  color: #FFFFFF;}
:-moz-placeholder           {
  font-family: 'Vollkorn', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;


  text-align: center;

  color: #FFFFFF;}
:-ms-input-placeholder      {
  font-family: 'Vollkorn', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;


  color: #FFFFFF;}
.qwe {
  display: block;
}
.topic {
  color: #7EC4BD;
}
.text {
  font-size: 17px;
  line-height: 22px;
}
.body {
  display: block;
}
.text1 {
  color: black;
}
.text2{
  color: azure;
}

.text3 {
  color: #7EC4BD;
}
.text4 {
  color-adjust: exact;
}
.main_banner{
min-height: 391px;
background-image: url("../images/bg_image.jpg");
  background-size: cover;
  display: flex;
}
.main_banner h1 {
  font-family: 'montserratregular';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 55px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;

}
.main_banner p {
  font-family: 'Vollkorn', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.81);

}
.main_banner h1:after {
  content: "";
  display: block;
  width: 88px;
  height: 2px;
  background-color: #FFFFFF;
  margin: auto;
  margin-top: 28px;
  margin-bottom: 25px;

}
.main_banner_description {
  background-color: #FEFEC9;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
.main_banner_description p {
  font-family: 'Vollkorn', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #47474F;
  margin-bottom: 39px;
}
.main_banner_description a {
  font-family: 'Vollkorn', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #47474F;
  display: inline-block;
  padding: 13px 31px 20px;
  border: solid 1px #47474F;
  border-bootom: solid 2px #47474F;
  text-decoration: none;
}
.brands{
  padding-top: 79px;
  text-align: center;
}
.brands h2 {
  font-family: 'montserratregular';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 36px;
  text-transform: uppercase;
  color: #333333;


}
.brands h2:after {
  content: "";
  display: block;
  width: 74px;
  height: 2px;
  background: rgba(0, 0, 0, 0.09);
  margin: auto;
  margin-top: 28px;
  margin-bottom: 43px;
}
.blocks {
max-width: 300px;
}
.blocks h4 {
  font-family: 'montserratregular';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  margin-top: 38px;
  margin-bottom: 20px;
}
.blocks p {
  font-family: 'Vollkorn', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #333333;
  margin-bottom: 74px;
}
.projects{
  background: #F5F5F5;
  padding-top: 79px;

}
.container_dflex {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;

}
.projects h2 {
  font-family: 'montserratregular';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
.projects h2:after {
  content: "";
  display: block;
  width: 74px;
  height: 2px;
  background: rgba(0, 0, 0, 0.09);
  margin: auto;
  margin-top: 28px;
  margin-bottom: 43px;
}
.portfolio{
  max-width: 300px;
  background: #FFFFFF;
  margin-bottom: 20px;
}
.portfolio h3{
  font-family: 'montserratregular';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  margin-top: 19px;
}
.portfolio p{
  font-family: 'Vollkorn', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  margin-top: 4px;
  margin-bottom: 21px;

}
